### BACKEND ###

### Database

DB_ROOT=<<<paster.cloud/db_root>>>
DB_ROOT_PASSWORD=<<<paster.cloud/db_root_pass>>>
DB_USER=<<<paster.cloud/db_user>>>
DB_USER_PASSWORD=<<<paster.cloud/db_user_pass>>>
DB_URL=jdbc:postgresql://paster-cloud-db:5432/paster
#DB_URL=jdbc:mysql://paster-cloud-db:4104/paster?allowPublicKeyRetrieval=true&serverTimezone=UTC&createDatabaseIfNotExist=true

### Uploads, file storage

FILE_UPLOADS_DIR=/home/kovo/docker/volumes/paster-cloud/upload
FILE_TEMP_DIR=/home/kovo/docker/volumes/paster-cloud/temp
DB_VOLUME=/home/kovo/docker/volumes/paster-cloud/postgres
#DB_VOLUME=/home/kovo/docker/volumes/paster-cloud/mysql

### Other

SECRET_KEY=<<<paster.cloud/secret_key>>>



### FRONTEND ###

BACKEND_API=https://api.paster.cloud
BACKEND_WEBSOCKET=wss://api.paster.cloud/websocket
API_VERSION=1
API_KEY=<<<paster.cloud/api_key>>>